@font-face {
    font-family: 'Rubik Regular';
    font-style: normal;
    font-weight: 400;
    src: url(font/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Rubik Medium';
    font-style: normal;
    font-weight: 500;
    src: url(font/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Rubik Semi Bold';
    font-style: normal;
    font-weight: 600;
    src: url(font/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Rubik Bold';
    font-style: normal;
    font-weight: 700;
    src: url(font/Rubik-VariableFont_wght.ttf) format('truetype');
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #000!important;
    background-color: #FFC73D!important;;
    border-color: #FFC73D!important;;
}
.card {
    border-radius: 7px!important;
}
p, h6, .flex-column, .card-text, .card-body {
    font-family: 'Rubik Regular';
}

.flex-column strong, .card-title {
    font-family: 'Rubik Medium';
    margin-bottom: -10px;
    display: block;
}

.card-title {
    margin-bottom: 10px;
}

.card-body.tall {
    min-height: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.card-body ul li {
    font-size: 0.8rem;
}

h3, h4, .h3, .h4, .bigButtonStyle {
    font-family: 'Rubik Semi Bold';
    font-size: 20px !important;
}

h5, .h5 {
    font-family: 'Rubik Bold';
}

.h6, h6 {
    color: #000;
    font-size: 1.2rem;
    margin: 10px 0;
    display: block;
}

p {
    color: #373737;
    font-size: 0.8rem;
} 


.bigButtonStyle {
    background-color: #FFC73D;
    color: #000;
    border: none;
}

.bigButtonStyle:hover {
    background-color: #fff;
    color: #000;
}

.learnButtonStyle {
    font-family: 'Rubik Regular';
    color: #0074DD;
    background-color: #fff;
    border: none;
    padding: 0;
}

.learnButtonStyle:hover {
    font-family: 'Rubik Regular';
    color: #0074DD;
    background-color: #fff;
    border: none;
    text-decoration: underline;
    padding: 0;
}

.seeButtonStyle {
    font-family: 'Rubik Medium';
    color: #000;
    background-color: #fff;
    border: #000 solid 2px;
    text-transform: uppercase;
}

.seeButtonStyle:active,.seeButtonStyle:hover {  
    background-color: #FFC73D;  
    color: #000;
    border: #FFC73D solid 2px;
} 
.sticky-box-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 150px;
    font-size: 15px;
    text-align: center; 
    z-index: 99;
    cursor: pointer;
  }

 .sticky-box-container a {
    text-decoration: none;
 } 
  
  .sticky-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
  }
  
  .stickyflex {
    display: flex;
    align-items: flex-end;
    margin: 0;
  }

  .sticky-box:first-child {
    background-color: #FFC73D;
    border-top-left-radius: 10px;
    padding: 10px 20px 0px 20px;
  }

  .sticky-box:nth-child(2) {
    padding: 0 20px;
    border-bottom-left-radius: 10px;
  } 
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;    
    max-width: 600px;
}

.carousel-caption.d-md-block h5 {
    font-size: 36px!important;
}
.carousel-caption.d-md-block h3 {
    color: #FFC73D;
    font-size: 60px!important;
}
.carousel-caption.d-md-block p {
    color: #fff;
    width: 460px;
    font-size: 20px!important;
}

.carousel-inner :nth-child(2) .carousel-caption.d-md-block h3, .carousel-inner :nth-child(3) .carousel-caption.d-md-block h3 { 
    color: #000;
}

.carousel-inner :nth-child(3) .carousel-caption.d-md-block h3 { 
    width: 660px; 
}

.carousel-inner :nth-child(3) .carousel-caption.d-md-block p {
    color: #fff;
    width: 500px;
    font-size: 20px;
}

.carousel-inner :nth-child(3) .carousel-caption {
    bottom: 17%;
}

.text-black, .text-black p {
    color:#000!important;
}

.text-black ul {
    padding-left: 1rem; 
}

.text-black ul li {
    color:#000!important;
    font-family: 'Rubik Regular';
}

.text-black ul li::marker {
    color: #FFC73D;
}

.carousel-flexbox {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    padding-left: 4rem;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 8px; /* adjust the width and height to make them smaller */
  height: 8px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%; /* add this to make them circular */ 
  opacity: 1;
}

.carousel-indicators [data-bs-target].active {
  background-color: #9E9E9E; /* change the active indicator color to a darker blue */
  opacity: 1;
}

.col-xs-6.col-sm-4\.col-md-2.rolloveryellow p.h6{ 
    width: 150px;
    font-size: 1rem;
}

.col-xs-6.col-sm-4.col-md-2.rolloveryellow p{
    width: 135px;
} 
.rolloveryellow {
    cursor: pointer;
}

.rolloveryellow {
    position: relative;
    overflow: hidden;
}

.rolloveryellow .line-container {
    position: relative;
    padding: 0 30px;
    text-align: center;
    display: flex; 
    height: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    border-bottom: #FFC73D solid 0px;
}
 
.rolloveryellow:hover .line-container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    animation: spring-in-out 1s ease 1;
} 
@keyframes spring-in-out {
    0% {
        transform: translateY(0);
        background-color: transparent;
    }
    50% {
        transform: translateY(-10px);
        background-color: #FFC73D;
    }
    100% {
        transform: translateY(0);
        background-color: #FFC73D;
    }
}
 
.rolloveryellow:hover .line-container::after {
    background-color: #FFC73D;
}
.col-xs-6.col-sm-4.col-md-2.rolloveryellow img {
    margin-bottom: 10px;
    width: 45% !important;
} 
div#accordionFlushMBB {
    margin: 3rem 6rem;
}

.accordion-button::after { 
    height: 40px; 
    background-size: 40px; 
    width: 40px;
}

.accordion-button:not(.collapsed) {
    background: transparent; 
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

.accordButIcon {
    display: inline-block !important;
    width: 70px;
}

.accordion-item { 
    border: 2px solid #FFC73D;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: nowrap;
}

.flex-row {
    display: flex;
    align-items: stretch;
  }
  
  .card {
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex: 1;
  }

.card-btn {
    text-transform: uppercase;
}

.card-img-top {
    padding: 40px;
    background: #E9E9E9;
    height: 170px;
}

img.card-img-top.fitNice {
    width: 100%;
    height: 170px;
    object-fit: contain;
}

img.card-img-top.fitFull {
    width: 100%;
    height: 240px;
    object-fit: cover;
    padding: 0;
    border-top: none;
}

img.card-img-top.nopad {
    padding: 0;
    background: #E9E9E9;
}

.peachbg {
    background-color: #FEF9EC;
    padding: 40px 0;
}


.accordIcon {
    margin: 0 auto;
}
#carousel3AATdesk .carousel-inner {height:120%;}
#carousel3AATmob {display: none;}
div#carousel3AATdesk .card-body, div#carousel3AATmob .card-body {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-start;
}

.lineLeftBg {
    background-image: url(img/yellowLineLeftBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.lineLeftBg p {
    margin: 0;
}

.lineLeftBg p a{
    margin: 0 40px;
} 
 

.carousel-control-prev-icon {
    background-image: url(img/prev.png);
    opacity: 1;
    width: 20px;
}
.carousel-control-next-icon {
    background-image: url(img/next.png);
    opacity: 1;
    width: 20px;
}

.carousel-control-next {
    right: -3%;
    width: 2%;
}

.carousel-control-prev { 
    left: -3%;
    width: 2%;
}
.lineLeftBg p.h4 {font-size: 20px !important;}

div#carousel3AATdesk .carousel-inner .row .card {
    border-radius: 17px !important;
}

div#carousel3AATmob .carousel-inner .row .card {
    border-radius: 17px !important;
}

@media (max-width:1025px) { 
    
    .carousel-caption.d-md-block p {font-size: 0.8rem!important; width: 300px;}
    .carousel-caption.d-md-block h5 {font-size: 1.2rem!important;}
    .carousel-caption.d-md-block h3 {font-size: 1.4rem!important;}
    iframe {height: 220px;} 
    .carousel-caption        {bottom:6rem;max-width: 480px;}
    .carousel-inner :nth-child(2) .carousel-caption {bottom: 35%!important;}
    .carousel-inner :nth-child(3) .carousel-caption {bottom: 13%;max-width: 390px;}
    .carousel-inner :nth-child(3) .carousel-caption p {width: 310px !important; font-size: 16px !important;}
    img.d-block.w-100.icomed,img.d-block.w-50.accordIcon.icomed {width: 50% !important;text-align: center;margin: 0 auto;}
    div#accordionFlushMBB    {margin: 3rem 0rem;}
    .sticky-box-container    {top: 52vw; width: 100%; }
    .lineLeftBg { height: 170px; background: white; padding: 0; text-align: center; }
    .lineLeftBg p {display: inline-grid;text-align: center;font-size: 1.2rem;}
    .lineLeftBg p a{margin-top: 10px; font-size:1.5rem!important; height: 50px;}
    .accordButton,.card {margin: 20px 0;}
    .rolloveryellow {margin-bottom: 30px;}
    .bigButtonStyle{background-color: #FFC73D;color: #000;border: none;height: 30px;font-size: 0.7rem!important;position: relative;z-index: 99;}
    .carousel-indicators [data-bs-target] {background-color: #E9E9E9;}
    .stickyflex {display: block;}
    .sticky-box:first-child { background-color: #FFC73D; border-top-left-radius: 0px; padding: 15px 20px 0px 20px; border: none; }
    .sticky-box:nth-child(2) { padding: 1px 20px; border-bottom-left-radius: 0; border: none; background-color: #FFC73D; }
} 


@media (max-width:660px) { 
    .carousel-caption        {bottom: 30px;max-width: 280px;} 
    .carousel-caption.d-md-block p {font-size: 0.5rem!important; width: 100%;display: none;}
    .carousel-caption.d-md-block h5 {font-size: 1.2rem!important;}
    .carousel-caption.d-md-block h3 {font-size: 1.4rem!important;}
    .carousel-caption.d-md-block ul {display: none;}
    .carousel-inner :nth-child(2) .carousel-caption { bottom: 2rem !important; }
    .card-img-top {height: 150px;}
}


@media (max-width:900px) { 
    #carousel3AATdesk {display: none;}
    #carousel3AATmob {display: block;margin-bottom: 30px;}
    #carousel3AATmob .carousel-indicators { top: 430px; }
}

@media only screen and (min-width: 768px) and (max-width:1025px) {
.sticky-box-container {top: 107%;}
.col-md-1 {width: 100%;}
.peachbg {background-color: #FEF9EC; padding: 55px 0;}
.card-body.tall {min-height: 470px;display: flex;flex-direction: column;align-items: flex-start;align-content: flex-start;flex-wrap: nowrap;justify-content: space-between;padding-top: 40px;}
}


